/* 
	? Flexbox
	* module dividing our wireframe
	* breaks down elements into parent and child container
	* uses custom properties and values
	* parents control children
	* structured using main and cross axes
*/

:root {
	/* This is a variable which stores values */
	--color-primary-silver: #0d3d9c;
	--color-secondary-blue: #233D4D;
	--my-favorite-font: Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: var(--my-favorite-font);
	/* how to use a variable */
	background-color: var(--color-primary-silver);
}

nav {
	background-color: var(--color-secondary-blue);
	padding: 2em;

	display: flex;
	/* creates our flex parent container */

	/* flex-direction: column; */
	/* adjusts where the main axis is (horizontal or vertical) */

	justify-content: center;
	/* adjusts position alongside the main axis */

	align-items: center;
	/* adjusts position alonside the cross axis */

	gap: 2em;
	/* controls spsace between flex children */

	height: 100px;

}

#flex-sample {
	order: 2;
	/* individual order of elements  * default is 0 mkdir medi*/
	flex-grow: 4;
	/* individual element size adjustments */
}

.nav-links {
	color: var(--color-primary-silver);
	text-decoration: none;
}

.img-item {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

/* 
	? Flexbox Challenge
	* make the image container a flex container
	* center the container
	* center the images
	* make sure there's a gap of 1em between each image
*/

.main-container {
	height: 100vh;

	display: flex;
	align-items: center;
}

.img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;

	height: 100vh;

	align-content: space-around;
	/* space for multiple children when wrap is on */


}